.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .style {
    border: 1px solid black;
    padding-top: 10px;
  }
  
  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }