<div class="bg-secondary text-center">
    <!--  <div class="container-fluid">-->
        <div class="row" style="margin: 0; padding: 0;">
          <div class="col-md-4 centered" style="padding: 15px">
            <div>
            <i class="bi bi-geo-alt" style="font-size: 15px"> Banja Luka, Republic of Srpska</i>
            <i class="bi bi-telephone" style="font-size: 15px"> Ulica broj ...</i> <br />
              </div>
          </div>
    
          <div class="col-md-4 centered" style="padding: 15px">
            <h2>
              © Februar 2024 Test zadatak
            </h2>
          </div>
    
          <div class="col-md-4 centered" style="padding: 15px">
            <div style="font-size: 18px; margin-bottom: 5px">
                Following us:
            </div>
            <div style="font-size: 18px">
            <i class="bi bi-facebook" style="margin-right: 22px; cursor: pointer"></i>
            <i class="bi bi-instagram" style="margin-right: 22px; cursor: pointer"></i>
            <i class="bi bi-twitter" style="cursor: pointer"></i>
            </div>
          </div>
          </div>
    </div>