<div class="background" style="min-height: calc(100% - 52px - 96px);">

    <div class="cardEffect">

      <h1>Registration page</h1>
        <div class="col-md-12">
            <form [formGroup]="form">
              <div class="row" style="margin-bottom: 10px">
                <div class="col">
                  <label for="firstName" class="form-label">First name*</label>
                  <input required type="text" class="form-control" id="firstName" formControlName="firstName" name="firstName" aria-describedby="firstName">
                </div>
                <div class="col">
                  <label for="lastName" class="form-label">Last name*</label>
                  <input required type="text" class="form-control" id="lastName" formControlName="lastName" name="lastName">
                </div>
              </div>



              <div class="row" style="margin-bottom: 10px">
                <div class="col">
                  <label class="form-check-label" for="email">E-mail*</label>
                  <input required type="email" class="form-control" id="email" formControlName="email" name="email">
                </div>

                <div class="col">
                  <label class="form-check-label" for="email">Phone*</label>
                  <input required type="text" class="form-control" id="phone" formControlName="phone" name="phone">
                </div>
              </div>


              <div class="row" style="margin-bottom: 10px">
                <div class="col">
                  <label class="form-check-label" for="password">Password*</label>
                  <input required type="password" class="form-control" id="password" formControlName="password" name="password">
                </div>

                <div class="col">
                  <label class="form-check-label" for="password">Confirm password*</label>
                  <input required type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword">
                </div>

                <span *ngIf="form.value.password !== form.value.confirmPassword">Lozinke se ne poklapaju</span>
              </div>

              <div class="row">
                <input [disabled]="!form.valid || (form.value.password !== form.value.confirmPassword)" (click)="register(form)" type="submit" id="submit" class="btn btn-primary btn-lg" [value]="form.valid ? (form.value.password == form.value.confirmPassword ? 'Register' : 'Sifre su razlicite') : 'Popunite formu'" />
              </div>
            </form>

      </div>
  </div>
</div>