.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .backgroundImage {
    background-image: url("/assets/homeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }