.center {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 80%; */
    padding: 0 60px 0 60px;
    flex-direction: column;
}

.margin-right-5{
    margin-right: 5px;
}